@model IEnumerable<Data.StudentServiceDto>

@{
    ViewBag.Title = "All Service Details";
}

<h2>GetServiceDetails</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolYear)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.StartDate)*@
            @Convert.ToDateTime(item.StartDate).ToString("dd/MM/yyyy")

        </td>
        <td>
            @Convert.ToDateTime(item.EndDate).ToString("dd/MM/yyyy")

            @*@Html.DisplayFor(modelItem => item.EndDate)*@
        </td>

    </tr>
    }

</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>